/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    tapping-term-ms = <400>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // | SHIFT |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | LCTRL |  Z  |  X  |  C   |  V   |  B   |  LLay  |  | ULay  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | DEL  | LWIN |  SPACE |  | SPACE |ENTER | BSPC  |       |
            display-name = "Base";
            bindings = <
&kp ESC           &mt LSHIFT N1  &mt LSHIFT N2  &mt LSHIFT N3    &mt LSHIFT N4      &mt LSHIFT N5                                &mt LSHIFT N6     &mt LSHIFT N7    &mt LSHIFT N8     &mt LSHIFT N9   &mt LSHIFT N0    &mt LSHIFT PLUS
&kp TAB           &mt LSHIFT Q   &mt LSHIFT W   &mt LSHIFT E     &mt LSHIFT R       &mt LSHIFT T                                 &mt LSHIFT Y      &mt LSHIFT U     &mt LSHIFT I      &mt LSHIFT O    &mt LSHIFT P     &mt LSHIFT MINUS
&kp LEFT_SHIFT    &mt LSHIFT A   &mt LSHIFT S   &mt LSHIFT D     &mt LSHIFT F       &mt LSHIFT G                                 &mt LSHIFT H      &mt LSHIFT J     &mt LSHIFT K      &mt LSHIFT L    &mt LSHIFT SEMI  &mt LSHIFT SQT
&kp LEFT_CONTROL  &mt LSHIFT Z   &mt LSHIFT X   &mt LSHIFT C     &mt LSHIFT V       &mt LSHIFT B         &tog 1       &tog 2     &mt LSHIFT N      &mt LSHIFT M     &mt LSHIFT COMMA  &mt LSHIFT DOT  &mt LSHIFT FSLH  &kp RSHFT
                                  &kp LALT  &kp DELETE  &kp LEFT_WIN  &kp SPACE    &kp SPACE  &kp ENTER  &kp BSPC  &trans
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |   `  |  !    |  @    |  #   |  $    |  %    |
            // |  F1   | F2  | F3  |  F4  |  F5  |  F6  |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |  F7   | F8  | F9  |  F10 |  F11 |  F12 |                   |      |   _   |       |  {   |   }   |  "|"  |
            // |  F13  | F14 | F15 |  F16 |  F17 |  F18 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |
            display-name = "Symbol";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0     &bt BT_SEL 1       &bt BT_SEL 2       &bt BT_SEL 3      &bt BT_SEL 4                    	  &kp GRAVE  &kp EXCL   &kp AT     &kp HASH  &kp DOLLAR &kp PRCNT
&kp F1      &kp F2           &kp F3             &kp F4             &kp F5            &kp F6                          	  &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR   &kp TILDE
&kp F7      &kp F8           &kp F9             &kp F10            &kp F11           &kp F12                         	  &none      &kp UNDER  &none      &kp LBRC  &kp RBRC   &kp PIPE
&kp F13     &kp F14          &kp F15            &kp F16            &kp F17           &kp F18       	&trans  &trans    &trans     &kp MINUS  &kp PLUS   &kp LBKT  &kp RBKT   &kp BSLH
						&ext_power EP_ON   &ext_power EP_OFF &ext_power EP_TOG  &trans  &trans    &trans     &trans     &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |      |       |   ^   |      |       |       |
            // | SHIFT |  A  |  S  |  D   |  F   |  G   |                   |      |   <-  |   v   |  ->  |       |       |
            // | LCTRL |  Z  |  X  |  C   |  V   |  B   |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      | GUI  |  SPACE |  | SPACE | ENTER|       |       |
            display-name = "Games";
            bindings = <
&kp ESCAPE      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                          &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp N9     &kp N0    &trans
&kp TAB         &kp Q         &kp W         &kp E         &kp R         &kp T                                 &trans        &trans        &kp UP_ARROW  &trans     &trans    &trans
&kp LEFT_SHIFT  &kp A         &kp S         &kp D         &kp F         &kp G                                 &trans        &kp LEFT      &kp DOWN      &kp RIGHT  &trans    &trans
&kp LCTRL       &kp Z         &kp X         &kp C         &kp V         &kp B         &trans       &trans     &kp KP_PLUS   &kp MINUS     &kp EQUAL     &kp LBKT   &kp RBKT  &kp BSLH
                                            &trans        &trans        &kp LEFT_WIN  &kp SPACE    &kp SPACE  &kp ENTER     &trans        &trans
            >;
        };
    };
};
